<!doctype HTML>
<html>
  <head>
    <title>Books</title>
    <%= stylesheet 'app' %>
    <%= javascript 'modernizr' %>
  </head>
  <body>
    <%= render partial: 'partials/topbar' %>
    <%= yield %>
    <%= javascript 'jquery.min', 'foundation.min', 'app' %>
  </body>
</html>
